.produtos .Destaque {
    margin-top: 50px;
    margin-left: 40px;
}
.produto_imagem{
    width: 260px;
    height: 260px;
}
.produtos hr {
    margin-left: 40px;
    width: 33%;
}

.produtos_lista {
    justify-content: center;
    padding: 50px;
    display: flex;
    gap: 100px;
}

.produto {
    background-color: black;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.produto_valor{
    display: flex;
    flex-direction: column;
}
.produto_preco{
    margin-top: 30px;
}
.btn-comprar button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 160px;
}

.btn-mais{
    display: flex;
    justify-content: end;
}
.btn-mais button {
    height: 30px;
    width: 90px;
    border-radius: 20px;
    background-color: rgba(11, 91, 211, 0.836);
    color: white;
}

.btn-mais button:hover{
    background-color: #1b1f3a;
}

.btn-comprar button:hover{
    background-color: #1b1f3a;
    transform: scale(1.05);
}

