.container-entrar{
    background-image: url('../../assets/Concv\ 1.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.entrar{
    margin-top: -60px;
    border: 2px solid white;
    backdrop-filter: blur(0.4rem);
    width: 700px;
    height: 650px;
    margin-left: 650px ;
    border-radius: 20px;
}
.inputsE{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 500px;
    gap: 20px;
}
.inputsE input{
    background-color: #BEBBB9;
    height: 40px;
    padding-left: 20px;
}
.inputsE a{
    text-align: center;
    margin-top: 70px;
    margin-left: 70px;
    border-radius: 5px;
    height: 50px;
    width: 350px;
    color: white;
    background-color: #242948;
    transition: all 0.3s ease;
}
.inputsE a:hover{
    background-color: #1b1f3a;
}

.link {
    cursor: pointer;
}