.sobre-section hr{
    width: 13%;
    margin-left: 40px;
}

.sobre-section .titulo{
    margin-left: 40px;
    position: relative;
}
.sobre-section .sobre{
    margin-left: 140px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.5;
}
.sobre-container{
    display: flex;
    gap: 70px;
    margin-top: 40px;
}
.sobre-container img{
    margin-top: 10px;
    width: 300px;
    height: auto;
    margin-left: 170px;
}
.imagem {
    margin-top: 30px;
   width: 100%;
}
