.container-cadastrar {
    background-image: url('../../assets/Concv 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastrar {
    display: flex;
    border: 2px solid white;
    backdrop-filter: blur(0.4rem);
    width: 700px;
    height: 650px;
    justify-items: center;
    border-radius: 20px;
}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 500px;
    gap: 20px;
}

.inputs input {
    background-color: #BEBBB9;
    height: 40px;
    padding-left: 20px;
}

.inputs a {
    text-align: center;
    margin-left: 70px;
    border-radius: 5px;
    height: 50px;
    width: 350px;
    color: white;
    background-color: #242948;
    transition: all 0.3s ease;
}

.inputs a:hover {
    background-color: #1b1f3a;
}


.link-cadastrar {
    display: block;
    text-align: center;
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
}

.link-cadastrar:hover {
    background-color: #1b1f3a;
}

.entre {
    margin-left: -30px;
}

p.conta .entre {
    margin-left: 5px;
    background-color: transparent;
}

.logo{
    position: absolute;
}