.footer{
    background-color: var(--primary-color);
    margin-top: 100px;
    display: flex;
    gap: 100px;
    justify-content: center;
}
.footer-content{
    margin-top: 80px;
}

.rede-social{
    margin-top: 30px;   
    color: #BEBBB9;
}
.localizacao{
    margin-top: 30px;   
    color: #BEBBB9;
}

.insta{
    font-size: 24px;
    color: #BEBBB9;
}
.face{
    font-size: 24px;
    color: #BEBBB9;
}
.direitos{
    margin-top: 100px;
    color: #BEBBB9;
}
.logo-footer{
    width: 150px;
    margin-top: 20px;
    margin-left: 30px;
}   


.logo-footer img{
    width: 100px;
    margin-top: 30px;
    margin-left: -150%;
    margin-bottom: 30px;
}
.btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2d2d2d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: 0.3s ease;
    z-index: 9999;
  }
  
  .btn-topo:hover {
    background-color: #444;
    transform: scale(1.1);
  }
  
  .contatos {
    margin-top: 30px;
    color: white;
  }

  