.footer{
    background-color: var(--primary-color);
    margin-top: 100px;
    display: flex;
    gap: 100px;
}
.footer-content{
    margin-top: 80px;
}
.contatos{
    margin-top: 30px;
}
.rede-social{
    margin-top: 30px;   
}
.localizacao{
    margin-top: 30px;   
}

.insta{
    font-size: 24px;
    color: white;
}
.face{
    font-size: 24px;
    color: white;
}
.direitos{
    margin-top: 100px;
}
.logo-footer{
    width: 150px;
    margin-top: 20px;
    margin-left: 30px;
}   