.sobre-section {
    padding: 40px;
    text-align: center;
  }
  
  .sobre-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
  }
  

  .sobre {
    text-align: center;
    max-width: 500px;
    line-height: 1.6;
    font-size: 18px;
  }
  

  .logo-sobre {
    width: 260px;
    height: auto;
    object-fit: contain;
    margin-left: 20px;
  }
  
 
  .imagem {
    margin-top: 50px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
   
  .titulo {
    text-align: left;
}